# Python
.venv/
__pycache__/
*.pyc
*.pyo

# FastF1 cache
f1-backend/cache/
f1-backend/__pycache__/

# Node
f1-dashboard-ui/node_modules/
f1-dashboard-ui/build/

# Env files
.env
*.env

# VS Code
.vscode/